.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("./../../assets/hero.png");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-text p {
  line-height: 1.5;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}
