@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
.container {
  padding: 0 10%;
}
.btn {
  border: none;
  background-color: white;
  color: #212121;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img {
  width: 20px;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
  .btn {
    padding: 10px 15px;
  }
}
